/* google fonts need to be put here starting with '@import' */



/*
css reset - this sets ALL elements to have zero padding and margin, 
and to display in the more logical border-box style
*/

body{
    background-color: red !important;
}
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: red;
}

nav {
	background-color: hotpink;
}

nav ul {
	display: flex;
	flex-direction: column;
}

nav ul li {
	list-style: none;
}
nav ul li a {
	display: block;
	padding: 20px;
	font-size: 28px;
	color: pink;
	background-color: hotpink;
	text-decoration: underline;
}

nav ul li a:hover {
	background-color: rgb(59, 58, 58);
	color: rgb(59, 58, 58);
}
