/* google fonts need to be put here starting with '@import' */



/*
css reset - this sets ALL elements to have zero padding and margin, 
and to display in the more logical border-box style
*/

body {
    background-color: lavender !important;
}
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav {
	border: 1px solid white;
}

nav ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	background-color: orange;

	text-decoration: none;
}

@media screen and (min-width: 769px) {
  nav ul  {
	flex-direction: row;
  }
}

nav {
	background-color: black;
}

nav ul li a {
	display: block;
	padding: 16px;
	color: white;
	background-color: transparent;
	text-decoration: none;

	transition: background-color 0.3s ease;
}

nav ul li a:hover {
	background-color: #555;
}
